
<% if (!cookie_active_nil) && (cookie_privacy_policy_present) && (cookie_active) && (cookie_modal_text_present) %>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content col-md-12 col-sm-12 col-xs-12">
        <div class="modal-body col-md-12 col-sm-12 col-xs-12">
          <div class="text-wraper col-md-10 col-sm-10 col-xs-12">
            <p class="modal-cookies-text">
              <%= cookie_modal_text.html_safe %>
            </p>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12 div_button">
            <button type="button" class="cookie_button button" data-dismiss="modal">Aceitar</button> 
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%#= raise %>