<!-- 	Top banner-START 	-->
<div class="contentPadding bg bgShadow" style="background-image: url(<%= asset_path 'img/banner-pages-pink.jpg' %>)">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="servicesTitle">
                    <div class="cell-view">
                        <h1 class="h1 light as">Emails</h1>
                        <div class="breadCrumbs small">
                            <%= link_to 'Início', root_path %> <i class="fa fa-angle-right"></i> <span>emails</span> <i class="fa fa-angle-right"></i> <span>Cancelamento de inscrição</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 	Top banner-END 	-->
<div class="emptySpace50"></div>
<div class="contentPadding appointWrapper2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
          <div class="aboutOur">
            <div class="emptySpace20"></div>
            <h2 class="h2 as light" style="margin-bottom: 0px;">Cancelamento de inscrição</h2>
            <div class="emptySpace5"></div>
            <p class="" style="color:#fff;"></p>
            <div class="emptySpace30"></div>
            <div class="normall">
              <p class="" style="color:#fff;">O sua inscrição foi cancelada com sucesso e você não receberá emails promocionais do www.zarabarbosa.com.</p>
            </div>
            <div class="emptySpace20"></div>
          </div>
        <div class="emptySpace-xs30"></div>
      </div>
    </div>
  </div>
</div>
<div class="emptySpace50"></div>