.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}


/* css referente ao toggle */
html{overflow-y:scroll}


/* this part is not needed for demo but hides page while js is working */
/* its a bit hit and miss but may be useful to disguise jump when text is initially truncated */
body{animation: fadeIn 1s}
@keyframes fadeIn{
	0%{opacity:0;background:#000}
	90%{opacity:0}
	100%{opacity:1;background:#fff}
}

/* CSS referente ao tooltip icon */
.bs-example{
    margin: 50px;
}
.bs-example a{
    font-size: 22px;        
    text-decoration: none;
    margin: 0 10px;
}


