/*
 *= require font-awesome
 */


 /* cursos */

.card-title {
    /* margin-bottom: 0.75rem; */
}

.card-category {
    margin-bottom: 0.75rem;
    color: #cacaca;
    margin-top: 0%;
    font-weight: bold;
}

.card-text {
    margin-bottom: 0.75rem;
    color: #000000;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* width: 23rem; */
    /* height: 36rem; */
    border-radius: 5px;
    background: #ffffff;
}

.card:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container-card {
    padding: 25px 16px;
}

.card-button {
    padding: 15px 16px;
    text-align: center;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.card-footer a {
    color: #eb787f;
}

.card-footer a:hover {
    color: #869173;
}

.price {
    color: #eb787f;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
    /* font-family: "Roboto", sans-serif; */
}

.promotion {
    color: #b4b4b4;
}

hr.thick {
    border-top: 1px dashed #eb787f;
    /* border-bottom: 1px solid #f00; */
    color: #eb787f;
    /* background-color: #fff; */
    height: 4px;
}













/* botões categoria de cursos - ver depois */
.button {
    background-color: #eb787f; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-categories :hover {
    background-color: #eb787f; /* Green */
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #eb787f;
  }



/* show course */
.btn--outline.btn--1493941431965 {
    border-color: #ffffff;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.btn--outline {
    border: 2px solid;
    background: transparent;
}

.appointWrapper2 {
    position: relative;
    background: #eb787f;
    padding: 20px 0;
}

.btnAlign a:hover {
    background-color: #ffffff;
    color: #eb787f;
}

/* testimonial */
.testimonials-icon {
  padding: 2% 2%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* o que vc receberá com este curso */

.whitefont {
  color: #ffffff;
  /* margin-top: 1em; */
}

.whitebg {
  background-color: #ffffff;
}